@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(3px);
    height: 80px;
    width: 100%;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.196);
    z-index: 20;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    
    transition: 0.3s;
}



nav ul {
    float: right;
    margin-right: 20px;
  

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    letter-spacing: 1px;
}

nav ul li a {
    color: rgba(0, 0, 0, 0.676);
    font-size: 1.5rem;
    padding: 7px;
    text-transform: uppercase;

}


ul li a i {
    margin-left: 10px;
    display: inline-block;
    margin-right: 10px;
}

ul li a:hover {

    box-shadow: 0px 5px 15px rgba(25, 25, 25, 0.452);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.676);
    /* font-weight: 600; */

}
/*---------------------hamburger-----------------------*/
.menu li a.active,
.menu li a:hover {
    background-color: rgb(0, 0, 52);
    color: #fff;

}

.checkbtn {
    font-size: 30px;
    color: white;
   
    float: right;
    line-height: 80px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    
  margin: 10px;
    left: 0em;
    line-height: 60px;
    align-self: center;
}

.logo img {
  margin: 5px;
    border-radius: 50%;
    outline: 2px solid rgb(0, 0, 0);
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.logo img:hover {
    outline-offset: 5px;
}

.logo img:hover {

    outline-color: #000000;
}



#s1 {
    background-image: url(images/iStock-468647510_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* position:fixed; */
    background-attachment: fixed;
    width: 100vw;
    font-family: 'Poppins';
}
.geca {
    font-size: 8rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    /* position:fixed; */
    z-index: 5;
    color: rgba(0, 0, 0, 0.628);
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.5));
}
.moto1 {
    font-size: 3em;
    letter-spacing: 3px;
    z-index: 10;
    color: rgb(255, 255, 255);
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.6));
}
#s2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, rgba(2, 2, 81, 0.788), rgba(50, 50, 167, 0.861))
}

.container2 {
    height: 95%;
    width: 95%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.553);
    /* margin: 5px; */
    border: 3px solid rgba(255, 255, 255, 0.683);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}

/* .container2:hover {
    transform: translateY(-15px);
    transition: transform 500ms ease-in-out 25ms;

} */

#s3 {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: url(images/SANMUN01.jpg);
    content: 'Content';
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container3 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.375);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    width: 85%;
    height: 85%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}


#s4 {
    width: 100vw;
    height: 100vh;
    content: 'Content';
    background: -webkit-linear-gradient(90deg, #380241, #f7042d);

}

#s5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    content: 'Content';
    /* background: -webkit-linear-gradient(90deg ,rgb(0, 208, 255), rgb(255, 136, 0)); */
    /* background: #c8e8e9; */
    background-image: url(images/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg);
    background-position: center;
    background-size: cover;



}

.container5 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s6 {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    content: 'Content';

    /* background: -webkit-linear-gradient(90deg ,rgb(0, 208, 255), rgb(255, 136, 0)); */
    /* background: #c8e8e9; */




}

.container6 {

    width: 100%;
    height: 100%;
    /* margin-top: 4rem; */
    background-image: url(images/tyler-franta-iusJ25iYu1c-unsplash.jpg);


    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}































/*>>>>>>>>>>>>>>>>FOOTER<<<<<<<<<<<<<<<<<<<<*/

.footer {

    width: 100%;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    font-family: 'Heebo', sans-serif;
    z-index: 500;
    
}

.gecamun {
    width: 30%;
}

.f1 {
 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: large;
}

.f1 li {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;


}

.f1 li a {
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.7;
    font-size: 1.3rem;

}

.f1 li a i {
    margin-right: 10px;
}

.f1 li a:hover {
    opacity: 1;
}

.gecamun span {
    display: flex;
    align-items: center;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 200;
    /* -webkit-font-smoothing: antialiased; */
}

#copyright {
    padding-left: 50px;
    opacity: 0.5;
    /* float: right; */
    /* right: 0; */
}








/*============================================*/
.icons {
    width: 30%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 25px;
    padding-right: 100px;
    flex-wrap: wrap;
    padding: 10px;


}

.icon {
    width: 2em;
    height: 2em;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--facebook:hover {
    background-color: #4267B2;
    outline-color: #4267B2;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}




@media (max-width:768px) {
    nav{
        background: rgba(0, 0, 0, 0.721);
    }
    nav ul li a {
        font-size: 1rem;
        
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height:40vh;
        background: rgba(0, 0, 0, 0.721);
        backdrop-filter: blur(20px);

        top: 80px;
        left: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 2rem 0px;
        line-height:2rem;
    }

    nav ul li a {
        font-size: 1.5rem;
        color: #fff;
      text-align: center;
    }

    a:hover,
    a.active {
        background: none;
        color: rgb(200, 181, 220);
    }

    #check:checked~ul {
        left: 0;

    }
}